root = true

[*.{kt,kts}]
indent_size = 4
max_line_length = 120
insert_final_newline = true
# Desactivada para evitar que CI se caiga cuando un archivo nuevo se guarda sin
# newline final (no aporta valor funcional, solo cosmético). Para re-activarla
# basta con borrar la línea siguiente.
ktlint_standard_no-trailing-newline = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable

[**/*Test.kt]
max_line_length = 160